<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}" class="text-decoration-none">
    <div class="card">
      <div class="card-body d-flex align-items-center">
        <img
          src="https://github.com/{{ include.username }}.png?size=80"
          alt="{{ include.username }}"
          class="rounded-circle me-3"
          width="80"
          height="80"
        >
        <div class="text-start">
          <h5 class="card-title mb-1">{{ include.username }}</h5>
          <p class="card-text mb-0" style="color: var(--global-text-color-light); font-size: 0.9rem;">
            <i class="fab fa-github"></i> GitHub Profile
          </p>
        </div>
      </div>
    </div>
  </a>
</div>
